<%- include("partials/header"); -%>

 <div class="container" style="display: flex;justify-content: center;">
        <a href="https://harsh-1012.github.io/SimonGame/" style="text-decoration: none;color: black;"><i class="bi bi-controller entlogo"></i></a>
        
        <a href="/m/music" style="text-decoration: none;color: black;"><i class="bi bi-boombox entlogo"></i></a>
        
 </div>
 


<%- include("partials/footer"); -%>