<%- include("header") -%>

 <div class="container" style="width: 100%;height: 100%;">
        <button type="button" class="btn btn-outline-info">
            <a href="https://harsh-1012.github.io/SimonGame/" style="text-decoration: none;color: black;">GAMES</a>
        </button>
        <button type="button" class="btn btn-outline-info">
            <a href="https://harsh-1012.github.io/SimonGame/" style="text-decoration: none;color: black;">MUSIC</a>
        </button>
 </div>


<%- include("footer") -%>