/* html {
  background-image: -webkit-linear-gradient(65deg, #38373b 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
} */

body{
  background-color: rgb(58, 58, 58);
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #A4BC92;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#body{
  min-height: calc(100vh - 6.7rem - 6.7rem);
}

#heading {
  background-color: #525252;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  margin-right: 4px;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #38373b;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #000000;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgb(219, 219, 219);
  text-align: center;
  padding-top: 10%;
}

.leftpane{
  display: inline-flex;
  margin-left: 2%;
}
.leftbox{
  margin-top: 50%;
  width: 14rem;
  padding: 10%;
}
h5{
  color:rgb(219, 219, 219) ;
}

.rightpane{
   float: right;
   margin-right: 25%;
}

.searchButton{
  border-color: azure;
  color: azure;
  height: 1px;
  --bs-btn-padding-y: .5rem; 
  --bs-btn-padding-x: .5rem; 
  --bs-btn-font-size: .75rem;
}
.form-control:focus {
  border-color: #ebe8e8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.addform{
  margin-top: 35px;
}
.searchform{
  position: absolute;
  top:10px;
  left:20px;
}

.entertainment{
  position: absolute;
  left:5%;
  top: 60%;
}
.entertainment button{
  width: 100%;
}